.home {
  display: flex;
  justify-content: center;
  width: 100%;
  &__devide {
    &__image {
      width: 100%;
      height: auto;
    }
  }
  &__aboutus {
    background-color: #fafafa;
  }
  &__about {
    padding: 10vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    &__title {
      width: 45%;
      font-size: 28px;
      margin-top: 90px;
      text-decoration: underline;
      margin-left: 20px;
    }
    &__us {
      text-align: justify;
      width: 55%;
      line-height: 1.8;
      font-size: 16px;
    }
  }
  &__main {
    padding: 20vh;
    &__title {
      font-weight: 700;
      margin-bottom: 20px;
    }
    &__content {
      margin: 20px;
      width: 100%;
      display: grid;
      gap: 40px;
      row-gap: 40px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
