.detail {
  padding: 15vh 10vw;
  &__main {
    display: flex;
    gap: 60px;
    &__image {
      width: 30%;
      &__image {
        width: 100%;
        aspect-ratio: 1 / 1;
        height: auto;
        border-radius: 7px;
        object-fit: cover;
      }

      object-position: center;
    }
    &__desc {
      width: 60%;
      margin-top: 20px;
      font-size: 16px;
      text-align: justify;
      line-height: 1.5;
      &__judul {
        margin-left: 20px;
      }
    }
  }
  &__link {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    font-style: italic;
    a {
      color: #0f6e8c;
      text-decoration: underline;
    }
  }
}
