.footer {
  position: relative;
  bottom: 0;
  margin-top: 30px;
  background-color: #e6eae4;
  color: #000;
  padding: 20px;
  width: 100%;
  &__content {
    margin-left: 40px;
    padding: 30px;
    display: flex;
    &__title {
      margin-bottom: 30px;
      font-size: 16px;
      text-decoration: underline;
    }
    &__contact {
      width: 40%;
      li {
        list-style-type: none;
      }
      &__list {
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 15px;
        opacity: 0.7;
      }
    }
    &__help {
      width: 20%;
      li {
        list-style-type: none;
      }
      &__list {
        display: flex;
        flex-direction: column;
        gap: 7px;
        opacity: 0.7;
        font-size: 15px;
      }
    }
    &__social {
      width: 20%;
      &__link {
        font-size: 15px;
        display: flex;
        opacity: 0.7;
        align-items: center;
        i {
          margin-right: 5px;
          font-size: 22px;
        }
      }
    }
    &__location {
      width: 20%;
      &__link {
        font-size: 15px;
        opacity: 0.7;
        display: flex;
        align-items: center;
        i {
          margin-right: 5px;
          font-size: 20px;
        }
      }
    }
  }
}
