.button {
  background-color: black;
  color: #eee;
  border: none;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: #808080;
  }
}

.primary {
  background-color: #000;
  color: #fff;
}

.secondary {
  background-color: #fff;
  color: #000;
}

.update {
  background-color: #4d4dff;
  color: #fff;
  font-size: 13px;
  &:hover {
    background-color: #8b8bcd;
  }
}

.delete {
  background-color: #fe6565;
  color: #fff;
  font-size: 13px;
  &:hover {
    background-color: #feaaaa;
  }
}
