.products {
  &__title {
    margin-top: -20px;
    font-size: 22px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    &__search {
      display: flex;
      align-items: center;
      padding-left: 10px;
      background-color: #eee;
      border-radius: 8px;
      &__input {
        width: 100%;
        &:focus {
          outline: none;
          border: none;
        }
      }
      i {
        font-size: 22px;
      }
    }
    &__add {
      padding: 10px 16px;
      font-size: 16px;
      i {
        font-size: 15px;
        margin-right: 5px;
        font-weight: bold;
      }
    }
  }
  &__table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;

    &__image {
      object-fit: cover;
      border-radius: 7px;
    }

    &__size {
      font-size: 13px;
      font-weight: 400;
    }
    th {
      border: 1px solid #ccc;
      font-size: 15px;
      padding: 5px;
    }
    td {
      text-align: center;
      font-size: 14px;
      padding: 5px;
      border: none;
      border-top: 1px solid #ddd;
    }

    thead {
      tr {
        background-color: #f2f2f2;
      }
    }

    &__action {
      border-left: 1px solid #ddd;
      display: flex;
      justify-content: center;
      gap: 5px;
      &__edit {
        background-color: #4d4dff;
      }
      &__delete {
        background-color: #fe6565;
        padding: 15px;
      }
    }
  }
  &__bottom {
    margin-top: 10px;
    display: flex;
    justify-content: right;
    gap: 10px;
    &__pagination {
      border: none;
      padding: 7px 15px;
      text-align: center;
      font-size: 15px;
      border-radius: 8px;
      cursor: pointer;
      :hover {
        opacity: 0.8;
      }
    }
  }
}
