.product {
  padding: 80px 2.5vw;
  &__title {
    font-size: 24px;
    font-weight: 500;
  }
  &__main {
    display: flex;
    gap: 60px;
    &__filter {
      width: 20%;
      &__data {
        padding: 20px;
        border-bottom: 1px solid #000;
        &__title {
          font-size: 18px;
          font-weight: 600;
        }
        &__range {
          margin-bottom: 20px;
        }
        &__list {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-top: 10px;
          &__item {
            &__label {
              font-size: 16px;
              margin-left: 10px;
            }
          }
        }
        &__down {
          &__title {
            font-size: 18px;
            font-weight: 600;
          }
          &__list {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 10px;
            &__item {
              &__label {
                font-size: 16px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
    &__content {
      width: 100%;
      display: grid;
      gap: 20px;
      row-gap: 60px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__bottom {
    margin-top: 100px;
    display: flex;
    justify-content: right;
    gap: 10px;
    &__pagination {
      border: none;
      text-align: center;
      font-size: 15px;
      padding: 10px 15px;
      color: #fff;
      background-color: #58876a;
      border-radius: 8px;
      transition: background-color 0.3s;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      &:disabled {
        cursor: auto;
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
