.modal {
  &__top {
    display: flex;
    &__image {
      object-fit: cover;
      height: auto;
      border-radius: 7px;
      &__info {
        margin-left: 10px;
        margin-top: 20px;
      }
    }
  }
  &__description {
    margin: 50px 0;
  }
  &__detail {
    &__item {
      margin-top: 5px;
      margin-bottom: 30px;
    }
  }
  &__table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;
    th {
      border: 1px solid #ccc;
      font-size: 15px;
      padding: 5px;
      font-weight: 500;
    }
    td {
      text-align: center;
      font-size: 14px;
      padding: 5px;
      border: none;
      border-top: 1px solid #ddd;
    }

    thead {
      tr {
        background-color: #f2f2f2;
      }
    }

    tbody {
      tr {
        border: 1px solid #ccc;
        font-size: 15px;
        padding: 5px;
      }
      td {
        border: 1px solid #ccc;
        font-size: 15px;
        padding: 5px;
      }
    }
  }
}
