.sidebar {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top {
    &__title {
      font-size: 22px;
      margin-bottom: 40px;
      text-align: center;
    }
    &__lists {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__item {
        // background-color: #fff;
        border-radius: 6px;
        font-size: 15px;
        display: flex;
        gap: 10px;
        transition: 0.3s;
        align-items: center;
        padding: 8px 15px;
        &__icon {
          font-size: 25px;
        }
        &:hover {
          background-color: #fff;
          color: #000;
          transition: 0.3s;
        }
        &__active {
          background-color: #fff;
          color: #000;
          transition: 0.3s;
        }
      }
    }
  }
  &__bottom {
    &__button {
      width: 100%;
      padding: 10px 8px;
    }
  }
}
